[Desktop Entry]
Type=Application
Name=LF File Manager
Comment=Browse the filesystem with the file manager
Terminal=false
GenericName=File Manager
Icon=system-file-manager
# Exec=i3-sensible-terminal --title lf -e lf %f
# Exec=i3-sensible-terminal --title lf --single-instance --hold -e lfcd %f
Exec=i3-sensible-terminal --title "lf File Manager" bash -lc 'lfcd %f'
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
Keywords=file manager;explorer;folders;directories
